---
title: Release Notes for Vormetric Transparent Encryption for PCF
owner: Partners
---

## <a id="ver"></a> v0.1.3 (Beta)

**Release Date:** February 11, 2019

Feature included in this release:

* Update VTE to v6.1.2.21 to support Ubuntu Xenial Stemcells up to v97.43 or kernel version 4.15.0-43-generic.

Known issues in this release:

* MySQL smoke test creates MySQL instances in the `pivotal-services` space of the system Organization. The smoke tests might
fail if Organization or Organization Space is selected for DSM Domain Mapping and the domain is not provisioned accordingly.

* Upgrades of stemcells may fail.
* Upgrades of MySQL v2.4.0 to v2.4.1 hung.


## <a id="ver"></a> v0.1.1 (Beta)

**Release Date:** October 25, 2018

Feature included in this release:

* Update VTE to v6.1.1.5 to support Ubuntu Xenial Stemcells up to v97.18 or kernel version 4.15.0-34-generic.

Known issues in this release:

* MySQL smoke test creates MySQL instances in the `pivotal-services` space of the system Organization. The smoke tests might
fail if Organization or Organization Space is selected for DSM Domain Mapping and the domain is not provisioned accordingly.

* Upgrades of MySQL and stemcells may fail for some instances.
