---
title: Release Notes for Vormetric Transparent Encryption for PCF
owner: Partners
---

## <a id="ver"></a> v0.1.7

**Release Date:** May 21, 2019

Features included in this release:

* Update VTE to `v6.1.3-46` to support Ubuntu Xenial stemcells up to `v97.82` and `v170.51` or kernel version `4.15.0-48-generic`.

Known issues in this release:

* The MySQL for PCF smoke test creates MySQL instances in the `pivotal-services` space of the system org.
  The smoke tests might fail if the org or the org space are selected for DSM Domain Mapping
  and the domain is not provisioned accordingly.

* Upgrades of stemcells might fail.


## <a id="ver"></a> v0.1.6

**Release Date:** April 19, 2019

Features included in this release:

* Update VTE to `v6.1.3-37` to support Ubuntu Xenial stemcells up to `v97.74` and `v170.48` or kernel version `4.15.0-47-generic`.

Known issues in this release:

* The MySQL for PCF smoke test creates MySQL instances in the `pivotal-services` space of the system org.
  The smoke tests might fail if the org or the org space are selected for DSM Domain Mapping
  and the domain is not provisioned accordingly.

* Upgrades of stemcells might fail.


## <a id="ver"></a> v0.1.5

**Release Date:** March 29, 2019

Features included in this release:

* Update VTE to `v6.1.3-28` to support Ubuntu Xenial stemcells up to `v97.71` and `v170.45` or kernel version `4.15.0-46-generic`.

Known issues in this release:

* The MySQL for PCF smoke test creates MySQL instances in the `pivotal-services` space of the system org.
  The smoke tests might fail if the org or the org space are selected for DSM Domain Mapping
  and the domain is not provisioned accordingly.

* Upgrades of stemcells might fail.


## <a id="ver"></a> v0.1.4

**Release Date:** February 27, 2019

Features included in this release:

* Update VTE to `v6.1.2-23` to support Ubuntu Xenial stemcells up to `v97.57` and `v170.30` or kernel version `4.15.0-45-generic`.
* Support for MySQL for PCF `v2.5.3`.

Known issues in this release:

* The MySQL for PCF smoke test creates MySQL instances in the `pivotal-services` space of the system org.
  The smoke tests might fail if the org or the org space are selected for DSM Domain Mapping
  and the domain is not provisioned accordingly.

* Upgrades of stemcells might fail.
* Upgrades of MySQL for PCF `v2.4.0` to `v2.4.1` hang.


## <a id="ver"></a> v0.1.3

**Release Date:** February 11, 2019

Feature included in this release:

* Update VTE to `v6.1.2-21` to support Ubuntu Xenial stemcells up to `v97.43` or kernel version `4.15.0-43-generic`.

Known issues in this release:

* MySQL for PCF smoke tests create MySQL instances in the `pivotal-services` space of the system org.
  The smoke tests might fail if the org and space is selected for DSM Domain Mapping and the domain is not
  provisioned accordingly.

* Upgrades of stemcells might fail.
* Upgrades of MySQL for PCF `v2.4.0` to `v2.4.1` hang.
